<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YPS Papeleria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">YPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/sales">Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shopping_cart">Carrito</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/signOut" class="btn btn-outline-danger my-2 my-sm-0">Cerrar sesion</a>
        </form>
      </div>
    </nav>

    <div class="row mt-5 ml-3 mr-3" >
        <div class="col-md-4 " style="height: 100vh">
            <div class="card border-info mb-3 align-self-center shadow-lg p-3 rounded">
                <div class="card-header">
                    <h3>Acerca de la Papeleria</h3>
                </div>
                <div class="card-body">
                    <label class="text-info">Ubicacion {{ paper.location }}</label>
                    <label for="" class="text-info">Descripcion {{ paper.description }}</label>
                    <label for=""class="text-info"> Imagen</label>
                    <img src="{{ paper.image_paper.url|slice:"9:" }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex p-3" style="overflow-y: scroll">
            {% if items|length > 0 %}
                {% for item in items %}
                    {% if item.inventory > 0 %}
                        <div class="card border-primary m-3" style="max-height: 300px;max-width: 200px">
                        <div class="card-header">{{ item.name }}</div>
                        <div class="card-body">
                            <label class="text-success">Precio: {{ item.price }}</label>
                            <label class="text-success">Descripcion: {{ item.description }}</label>
                            <label class="text-success">Categoria: {{ item.category.name }}</label>
                            <label class="text-success">Disponibles: {{ item.inventory }}</label>
                            <img class="rounded img-fluid" src="{{ item.image_item.url|slice:"9:"}}" alt="">
                            <button type="button" onclick="addCar({{ item.id }})" class="btn btn-block btn-primary" >Agregar al carrito</button>
                        </div>
                    </div>
                    {% endif %}

                {% endfor %}
            {% else %}
                <h2 class="text-warning">La papelería no contiene articulos</h2>
            {% endif %}
        </div>
    </div>
    {% if error is not None %}
        <script>
            alert('{{ message}}')
        </script>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }

        function addCar(id) {
            let formData = new FormData();

            formData.append("id_item", id);

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/addItemCart");
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xhr.send(formData);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    let response = JSON.parse(xhr.response)
                    alert(response.message)

                }
            }
        }
    </script>
</body>
</html>